---
import { getCollection } from 'astro:content';
import BlogLayout from '../../layouts/BlogLayout.astro';
import PostBox from '../../components/PostBox.astro';
import PaginationButton from '../../components/PaginationButton.astro';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = (await getCollection('post'))
		.filter((post) => import.meta.env.DEV || post.data.blind !== true)
		.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
	return paginate(allPosts, {
		pageSize: 10,
	});
}) satisfies GetStaticPaths;

// getStaticPaths에서 반환된 Props 타입 정보를 불러옴
export type PostPageProps = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as PostPageProps;
---

<BlogLayout
	title=`전체 게시글 목록 ${page.currentPage}페이지 - Temple's Hideout`
	description="Temple의 개발 관련 블로그입니다."
>
	<div class="text-2xl font-bold pb-8">
		전체 게시글 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; {page.currentPage} 페이지
	</div>
	<div class="mb-6">
		<PaginationButton page={page} />
	</div>
	<ul class="space-y-6">
		{page.data.map((post) => <PostBox post={post} />)}
	</ul>
	<div class="mt-6">
		<PaginationButton page={page} />
	</div>
</BlogLayout>
