---
import { getCollection } from 'astro:content';
import BlogLayout from '../../layouts/BlogLayout.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
	const allPosts = await getCollection('post');
	return allPosts
		.filter((post) => import.meta.env.DEV || post.data.blind !== true)
		.map((post) => ({
			params: { id: post.id },
			props: { post },
		}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BlogLayout
	title=`Temple's Hideout - ${post.data.title}`
	description={post.data.description}
>
	<h1 class="text-4xl lg:text-5xl break-keep font-bold mb-[1.5rem]">
		{post.data.title}
	</h1>
	<div class="mb-4 flex flex-wrap gap-y-2">
		{
			post.data.tags.map((tag) => (
				<span class="px-2 py-1 mr-2 text-xs text-gray-700 bg-slate-200 rounded-full">
					{tag}
				</span>
			))
		}
	</div>
	<p class="text-sm text-right text-gray-600 mb-12">
		{post.data.pubDate.toLocaleDateString()}
	</p>
	<div
		class="prose max-w-none
		lg:prose-lg lg:prose-h1:text-[2.5rem]
		prose-h1:pt-8
		prose-headings:pb-2 prose-headings:border-b-1 prose-headings:border-b-gray-200
		prose-a:no-underline prose-a:text-gray-500 prose-a:hover:underline
		prose-li:my-3 prose-ul:my-3 prose-ol:my-3
		prose-code:break-words prose-code:before:hidden prose-code:after:hidden prose-code:pr-1
		prose-table:block prose-table:overflow-x-auto prose-table:bg-neutral-50 prose-table:py-2 prose-table:px-4 prose-table:rounded-xl prose-table:shadow-md
		prose-td:whitespace-nowrap
		prose-blockquote:font-light prose-blockquote:bg-gray-50 prose-blockquote:py-1 prose-blockquote:px-4 prose-blockquote:rounded-xl prose-blockquote:shadow-md"
	>
		<Content />
	</div>
</BlogLayout>
