---
import { getCollection } from 'astro:content';
import BlogLayout from '../../layouts/BlogLayout.astro';
import { render } from 'astro:content';
import { formatDate } from '../../utils';
import TagButton from '../../components/TagButton.astro';

export async function getStaticPaths() {
	const allPosts = await getCollection('post');
	return allPosts
		.filter((post) => import.meta.env.DEV || post.data.blind !== true)
		.map((post) => ({
			params: { id: post.id },
			props: { post },
		}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BlogLayout
	title=`${post.data.title} - Temple's Hideout`
	description={post.data.description}
>
	<h1 class="text-4xl lg:text-5xl break-keep font-bold mb-[1.5rem]">
		{post.data.title}
	</h1>
	<p class="text-sm lg:text-base text-gray-500 italic pb-4">
		{post.data.description}
	</p>
	<div class="mb-4">
		<TagButton post={post} />
	</div>
	<p class="text-sm text-right text-gray-600 mb-12">
		{formatDate(post.data.pubDate)}
	</p>
	<div
		class="prose max-w-none
		lg:prose-lg lg:prose-h1:text-[2.5rem]
		prose-h1:pt-8
		prose-headings:pb-2 prose-headings:border-b-1 prose-headings:border-b-gray-200 prose-headings:break-all
		prose-a:no-underline prose-a:text-blue-800 prose-a:hover:underline prose-a:hover:text-blue-400
		prose-li:my-3 prose-ul:my-3 prose-ol:my-3
		prose-code:break-words prose-code:before:hidden prose-code:after:hidden prose-code:pr-1
		prose-table:block prose-table:overflow-x-auto prose-table:bg-neutral-50 prose-table:py-2 prose-table:px-4 prose-table:rounded-xl prose-table:shadow-md
		prose-td:whitespace-nowrap
		prose-hr:my-12
		prose-blockquote:font-light prose-blockquote:bg-gray-50 prose-blockquote:py-0.5 prose-blockquote:px-4 prose-blockquote:rounded-xl prose-blockquote:shadow-md prose-blockquote:break-all"
	>
		<Content />
	</div>
</BlogLayout>
