---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  postTitle?: string;
  postDescription?: string;
}

const { title, description, postTitle, postDescription } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="title" content={title}>
    <meta name="description" content={description}>
    <title>{title}</title>
  </head>
  <body>
    <Header postTitle={postTitle} postDescription={postDescription}/>
    <main>
      <div class="container mx-auto px-4 py-8">
        <slot />
      </div>
    </main>
    <Footer />
</html>